<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @day.state %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @day.transportation %>
</p>

<p>
  <strong>Day:</strong>
  <%= @day.day %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'Back', days_path %>
